@font-face {
	font-family: 'lightwhite';
	src:url('fonts/lightwhite.eot');
	src:url('fonts/lightwhite.eot?#iefix') format('embedded-opentype'),
		url('fonts/lightwhite.woff') format('woff'),
		url('fonts/lightwhite.ttf') format('truetype'),
		url('fonts/lightwhite.svg#lightwhite') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'lightwhite';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-lightwhite"] {
*/
.icon-lightwhitezoomout, .icon-lightwhitezoomin, .icon-lightwhitewifi, .icon-lightwhiteupload, .icon-lightwhiteupdate, .icon-lightwhiteunlock, .icon-lightwhiteumbrella, .icon-lightwhitetoolbox, .icon-lightwhitetones, .icon-lightwhitestudent, .icon-lightwhitesquare, .icon-lightwhitespeech_bubble, .icon-lightwhiteshared, .icon-lightwhitesetting2, .icon-lightwhitesetting, .icon-lightwhitesearch, .icon-lightwhitescales_of_Balance, .icon-lightwhitereload, .icon-lightwhiterecycle_sign, .icon-lightwhitepuzzle, .icon-lightwhitepresentation, .icon-lightwhiteplugins, .icon-lightwhitepicture, .icon-lightwhitepaper_clip, .icon-lightwhiteno_listen, .icon-lightwhitemessage, .icon-lightwhitemegaphone2, .icon-lightwhitemegaphone, .icon-lightwhitemale_symbol, .icon-lightwhitelock, .icon-lightwhitelisten, .icon-lightwhitekey, .icon-lightwhiteinformation, .icon-lightwhiteidea, .icon-lightwhitehome, .icon-lightwhitehistory, .icon-lightwhitehelp2, .icon-lightwhitehelp, .icon-lightwhitehand, .icon-lightwhiteglass, .icon-lightwhitefolder_opened, .icon-lightwhitefolder, .icon-lightwhiteflash_light, .icon-lightwhiteflag, .icon-lightwhitefilter, .icon-lightwhitefemale_symbol, .icon-lightwhitefairytale, .icon-lightwhitedownload, .icon-lightwhitedown_tri, .icon-lightwhitedocument, .icon-lightwhitedesign, .icon-lightwhitecopy, .icon-lightwhitecode, .icon-lightwhitecloud_upload, .icon-lightwhitecloud_download, .icon-lightwhitebriefcase, .icon-lightwhitebrain, .icon-lightwhitebookmark, .icon-lightwhitebluetooth, .icon-lightwhitearchive, .icon-lightwhitealert, .icon-lightwhiteup-right, .icon-lightwhiteup-left, .icon-lightwhiteup, .icon-lightwhitetop, .icon-lightwhiteright, .icon-lightwhiteleft, .icon-lightwhiteforward, .icon-lightwhitedown-right, .icon-lightwhitedown-left, .icon-lightwhitedown, .icon-lightwhitebottom, .icon-lightwhiteback, .icon-lightwhitevisible, .icon-lightwhitetrash, .icon-lightwhitestar_halffill, .icon-lightwhitestar_fill, .icon-lightwhitestar, .icon-lightwhitesend, .icon-lightwhitelink_broken, .icon-lightwhitelink, .icon-lightwhitelike_haltfill, .icon-lightwhitelike_fill, .icon-lightwhitelike, .icon-lightwhiteinvisible, .icon-lightwhiteinbox, .icon-lightwhitecontacts, .icon-lightwhitebox, .icon-lightwhitemale_stroke, .icon-lightwhitemale_border_stroke, .icon-lightwhitemale_border, .icon-lightwhitemale, .icon-lightwhitegroup, .icon-lightwhitefemale_stroke, .icon-lightwhitefemale_border_stroke, .icon-lightwhitefemale_border, .icon-lightwhitefemale, .icon-lightwhitespeedometer, .icon-lightwhitecar_battery, .icon-lightwhitetrophy, .icon-lightwhiterunning, .icon-lightwhitefinish_flag, .icon-lightwhitewallet, .icon-lightwhitesell, .icon-lightwhitesale, .icon-lightwhiteprice_tag_usd, .icon-lightwhiteprice_tag, .icon-lightwhitemoney_box, .icon-lightwhitemoney_bag, .icon-lightwhitemoney, .icon-lightwhitegift, .icon-lightwhitedelivery, .icon-lightwhitecredit_card, .icon-lightwhitecash_receiving, .icon-lightwhitecart_putout, .icon-lightwhitecart_putin, .icon-lightwhitecart_loaded, .icon-lightwhitecart_empty, .icon-lightwhitecart_clear, .icon-lightwhitecard_inuse, .icon-lightwhitecard_inserting, .icon-lightwhitebox_filled, .icon-lightwhitebox_empty, .icon-lightwhitebox-2, .icon-lightwhitebasket, .icon-lightwhitebanknotes, .icon-lightwhitebag, .icon-lightwhitewarning_shield, .icon-lightwhiteuser_shield, .icon-lightwhiteshield, .icon-lightwhiterestriction_shield, .icon-lightwhiterefresh_shield, .icon-lightwhitequestion_shield, .icon-lightwhitedelete_shield, .icon-lightwhitemath, .icon-lightwhiteliterature, .icon-lightwhitebusiness, .icon-lightwhitetv, .icon-lightwhiterepeat, .icon-lightwhitenews, .icon-lightwhitemusical, .icon-lightwhitemusic_record, .icon-lightwhitemusic, .icon-lightwhitemovie, .icon-lightwhitehigh_volume, .icon-lightwhiteheadset, .icon-lightwhitenear_me, .icon-lightwhiteglobe, .icon-lightwhitedirections, .icon-lightwhitecompas, .icon-lightwhiteworkstation, .icon-lightwhiteswitch, .icon-lightwhitestack, .icon-lightwhiteremote_working, .icon-lightwhitetrash2, .icon-lightwhiterecycling, .icon-lightwhiterack, .icon-lightwhiteladder, .icon-lightwhitegreentech, .icon-lightwhitegas, .icon-lightwhiteengineering, .icon-lightwhitetype, .icon-lightwhiterotation_cw, .icon-lightwhiterotation_ccw, .icon-lightwhiteresize, .icon-lightwhitepaint_bucket, .icon-lightwhiteexpand, .icon-lightwhiteedit, .icon-lightwhiteearaser, .icon-lightwhitecut, .icon-lightwhitecollapse, .icon-lightwhitejoystick, .icon-lightwhitejoker, .icon-lightwhitedice, .icon-lightwhiteclover, .icon-lightwhitesad, .icon-lightwhitequestion, .icon-lightwhitelol, .icon-lightwhitehappy, .icon-lightwhiteweb_camera, .icon-lightwhitevideo_cam, .icon-lightwhiteprinter, .icon-lightwhitephoto, .icon-lightwhitephone_up, .icon-lightwhitephone_down, .icon-lightwhitemicro, .icon-lightwhiteiphone, .icon-lightwhiteipad, .icon-lightwhiteplus, .icon-lightwhiteok, .icon-lightwhitenegative, .icon-lightwhitemore, .icon-lightwhitecross, .icon-lightwhiteopen_in_browser, .icon-lightwhiteexternal_link, .icon-lightwhitecopy_link, .icon-lightwhitebug, .icon-lightwhiteweek_view, .icon-lightwhitetoday, .icon-lightwhiteday_view, .icon-lightwhitedate_to, .icon-lightwhitedate_from, .icon-lightwhitewatch, .icon-lightwhitetimer, .icon-lightwhitestopwatch, .icon-lightwhiteclock, .icon-lightwhitealarm_clock, .icon-lightwhitepositive_dynamic, .icon-lightwhitenegative_dynamic, .icon-lightwhiteline-chart, .icon-lightwhitecombo_chart {
	font-family: 'lightwhite';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-lightwhitezoomout:before {
	content: "\e000";
}
.icon-lightwhitezoomin:before {
	content: "\e001";
}
.icon-lightwhitewifi:before {
	content: "\e002";
}
.icon-lightwhiteupload:before {
	content: "\e003";
}
.icon-lightwhiteupdate:before {
	content: "\e004";
}
.icon-lightwhiteunlock:before {
	content: "\e005";
}
.icon-lightwhiteumbrella:before {
	content: "\e006";
}
.icon-lightwhitetoolbox:before {
	content: "\e007";
}
.icon-lightwhitetones:before {
	content: "\e008";
}
.icon-lightwhitestudent:before {
	content: "\e009";
}
.icon-lightwhitesquare:before {
	content: "\e00a";
}
.icon-lightwhitespeech_bubble:before {
	content: "\e00b";
}
.icon-lightwhiteshared:before {
	content: "\e00c";
}
.icon-lightwhitesetting2:before {
	content: "\e00d";
}
.icon-lightwhitesetting:before {
	content: "\e00e";
}
.icon-lightwhitesearch:before {
	content: "\e00f";
}
.icon-lightwhitescales_of_Balance:before {
	content: "\e010";
}
.icon-lightwhitereload:before {
	content: "\e011";
}
.icon-lightwhiterecycle_sign:before {
	content: "\e012";
}
.icon-lightwhitepuzzle:before {
	content: "\e013";
}
.icon-lightwhitepresentation:before {
	content: "\e014";
}
.icon-lightwhiteplugins:before {
	content: "\e015";
}
.icon-lightwhitepicture:before {
	content: "\e016";
}
.icon-lightwhitepaper_clip:before {
	content: "\e017";
}
.icon-lightwhiteno_listen:before {
	content: "\e018";
}
.icon-lightwhitemessage:before {
	content: "\e019";
}
.icon-lightwhitemegaphone2:before {
	content: "\e01a";
}
.icon-lightwhitemegaphone:before {
	content: "\e01b";
}
.icon-lightwhitemale_symbol:before {
	content: "\e01c";
}
.icon-lightwhitelock:before {
	content: "\e01d";
}
.icon-lightwhitelisten:before {
	content: "\e01e";
}
.icon-lightwhitekey:before {
	content: "\e01f";
}
.icon-lightwhiteinformation:before {
	content: "\e020";
}
.icon-lightwhiteidea:before {
	content: "\e021";
}
.icon-lightwhitehome:before {
	content: "\e022";
}
.icon-lightwhitehistory:before {
	content: "\e023";
}
.icon-lightwhitehelp2:before {
	content: "\e024";
}
.icon-lightwhitehelp:before {
	content: "\e025";
}
.icon-lightwhitehand:before {
	content: "\e026";
}
.icon-lightwhiteglass:before {
	content: "\e027";
}
.icon-lightwhitefolder_opened:before {
	content: "\e028";
}
.icon-lightwhitefolder:before {
	content: "\e029";
}
.icon-lightwhiteflash_light:before {
	content: "\e02a";
}
.icon-lightwhiteflag:before {
	content: "\e02b";
}
.icon-lightwhitefilter:before {
	content: "\e02c";
}
.icon-lightwhitefemale_symbol:before {
	content: "\e02d";
}
.icon-lightwhitefairytale:before {
	content: "\e02e";
}
.icon-lightwhitedownload:before {
	content: "\e02f";
}
.icon-lightwhitedown_tri:before {
	content: "\e030";
}
.icon-lightwhitedocument:before {
	content: "\e031";
}
.icon-lightwhitedesign:before {
	content: "\e032";
}
.icon-lightwhitecopy:before {
	content: "\e033";
}
.icon-lightwhitecode:before {
	content: "\e034";
}
.icon-lightwhitecloud_upload:before {
	content: "\e035";
}
.icon-lightwhitecloud_download:before {
	content: "\e036";
}
.icon-lightwhitebriefcase:before {
	content: "\e037";
}
.icon-lightwhitebrain:before {
	content: "\e038";
}
.icon-lightwhitebookmark:before {
	content: "\e039";
}
.icon-lightwhitebluetooth:before {
	content: "\e03a";
}
.icon-lightwhitearchive:before {
	content: "\e03b";
}
.icon-lightwhitealert:before {
	content: "\e03c";
}
.icon-lightwhiteup-right:before {
	content: "\e03d";
}
.icon-lightwhiteup-left:before {
	content: "\e03e";
}
.icon-lightwhiteup:before {
	content: "\e03f";
}
.icon-lightwhitetop:before {
	content: "\e040";
}
.icon-lightwhiteright:before {
	content: "\e041";
}
.icon-lightwhiteleft:before {
	content: "\e042";
}
.icon-lightwhiteforward:before {
	content: "\e043";
}
.icon-lightwhitedown-right:before {
	content: "\e044";
}
.icon-lightwhitedown-left:before {
	content: "\e045";
}
.icon-lightwhitedown:before {
	content: "\e046";
}
.icon-lightwhitebottom:before {
	content: "\e047";
}
.icon-lightwhiteback:before {
	content: "\e048";
}
.icon-lightwhitevisible:before {
	content: "\e049";
}
.icon-lightwhitetrash:before {
	content: "\e04a";
}
.icon-lightwhitestar_halffill:before {
	content: "\e04b";
}
.icon-lightwhitestar_fill:before {
	content: "\e04c";
}
.icon-lightwhitestar:before {
	content: "\e04d";
}
.icon-lightwhitesend:before {
	content: "\e04e";
}
.icon-lightwhitelink_broken:before {
	content: "\e04f";
}
.icon-lightwhitelink:before {
	content: "\e050";
}
.icon-lightwhitelike_haltfill:before {
	content: "\e051";
}
.icon-lightwhitelike_fill:before {
	content: "\e052";
}
.icon-lightwhitelike:before {
	content: "\e053";
}
.icon-lightwhiteinvisible:before {
	content: "\e054";
}
.icon-lightwhiteinbox:before {
	content: "\e055";
}
.icon-lightwhitecontacts:before {
	content: "\e056";
}
.icon-lightwhitebox:before {
	content: "\e057";
}
.icon-lightwhitemale_stroke:before {
	content: "\e058";
}
.icon-lightwhitemale_border_stroke:before {
	content: "\e059";
}
.icon-lightwhitemale_border:before {
	content: "\e05a";
}
.icon-lightwhitemale:before {
	content: "\e05b";
}
.icon-lightwhitegroup:before {
	content: "\e05c";
}
.icon-lightwhitefemale_stroke:before {
	content: "\e05d";
}
.icon-lightwhitefemale_border_stroke:before {
	content: "\e05e";
}
.icon-lightwhitefemale_border:before {
	content: "\e05f";
}
.icon-lightwhitefemale:before {
	content: "\e060";
}
.icon-lightwhitespeedometer:before {
	content: "\e061";
}
.icon-lightwhitecar_battery:before {
	content: "\e062";
}
.icon-lightwhitetrophy:before {
	content: "\e063";
}
.icon-lightwhiterunning:before {
	content: "\e064";
}
.icon-lightwhitefinish_flag:before {
	content: "\e065";
}
.icon-lightwhitewallet:before {
	content: "\e066";
}
.icon-lightwhitesell:before {
	content: "\e067";
}
.icon-lightwhitesale:before {
	content: "\e068";
}
.icon-lightwhiteprice_tag_usd:before {
	content: "\e069";
}
.icon-lightwhiteprice_tag:before {
	content: "\e06a";
}
.icon-lightwhitemoney_box:before {
	content: "\e06b";
}
.icon-lightwhitemoney_bag:before {
	content: "\e06c";
}
.icon-lightwhitemoney:before {
	content: "\e06d";
}
.icon-lightwhitegift:before {
	content: "\e06e";
}
.icon-lightwhitedelivery:before {
	content: "\e06f";
}
.icon-lightwhitecredit_card:before {
	content: "\e070";
}
.icon-lightwhitecash_receiving:before {
	content: "\e071";
}
.icon-lightwhitecart_putout:before {
	content: "\e072";
}
.icon-lightwhitecart_putin:before {
	content: "\e073";
}
.icon-lightwhitecart_loaded:before {
	content: "\e074";
}
.icon-lightwhitecart_empty:before {
	content: "\e075";
}
.icon-lightwhitecart_clear:before {
	content: "\e076";
}
.icon-lightwhitecard_inuse:before {
	content: "\e077";
}
.icon-lightwhitecard_inserting:before {
	content: "\e078";
}
.icon-lightwhitebox_filled:before {
	content: "\e079";
}
.icon-lightwhitebox_empty:before {
	content: "\e07a";
}
.icon-lightwhitebox-2:before {
	content: "\e07b";
}
.icon-lightwhitebasket:before {
	content: "\e07c";
}
.icon-lightwhitebanknotes:before {
	content: "\e07d";
}
.icon-lightwhitebag:before {
	content: "\e07e";
}
.icon-lightwhitewarning_shield:before {
	content: "\e07f";
}
.icon-lightwhiteuser_shield:before {
	content: "\e080";
}
.icon-lightwhiteshield:before {
	content: "\e081";
}
.icon-lightwhiterestriction_shield:before {
	content: "\e082";
}
.icon-lightwhiterefresh_shield:before {
	content: "\e083";
}
.icon-lightwhitequestion_shield:before {
	content: "\e084";
}
.icon-lightwhitedelete_shield:before {
	content: "\e085";
}
.icon-lightwhitemath:before {
	content: "\e086";
}
.icon-lightwhiteliterature:before {
	content: "\e087";
}
.icon-lightwhitebusiness:before {
	content: "\e088";
}
.icon-lightwhitetv:before {
	content: "\e089";
}
.icon-lightwhiterepeat:before {
	content: "\e08a";
}
.icon-lightwhitenews:before {
	content: "\e08b";
}
.icon-lightwhitemusical:before {
	content: "\e08c";
}
.icon-lightwhitemusic_record:before {
	content: "\e08d";
}
.icon-lightwhitemusic:before {
	content: "\e08e";
}
.icon-lightwhitemovie:before {
	content: "\e08f";
}
.icon-lightwhitehigh_volume:before {
	content: "\e090";
}
.icon-lightwhiteheadset:before {
	content: "\e091";
}
.icon-lightwhitenear_me:before {
	content: "\e092";
}
.icon-lightwhiteglobe:before {
	content: "\e093";
}
.icon-lightwhitedirections:before {
	content: "\e094";
}
.icon-lightwhitecompas:before {
	content: "\e095";
}
.icon-lightwhiteworkstation:before {
	content: "\e096";
}
.icon-lightwhiteswitch:before {
	content: "\e097";
}
.icon-lightwhitestack:before {
	content: "\e098";
}
.icon-lightwhiteremote_working:before {
	content: "\e099";
}
.icon-lightwhitetrash2:before {
	content: "\e09a";
}
.icon-lightwhiterecycling:before {
	content: "\e09b";
}
.icon-lightwhiterack:before {
	content: "\e09c";
}
.icon-lightwhiteladder:before {
	content: "\e09d";
}
.icon-lightwhitegreentech:before {
	content: "\e09e";
}
.icon-lightwhitegas:before {
	content: "\e09f";
}
.icon-lightwhiteengineering:before {
	content: "\e0a0";
}
.icon-lightwhitetype:before {
	content: "\e0a1";
}
.icon-lightwhiterotation_cw:before {
	content: "\e0a2";
}
.icon-lightwhiterotation_ccw:before {
	content: "\e0a3";
}
.icon-lightwhiteresize:before {
	content: "\e0a4";
}
.icon-lightwhitepaint_bucket:before {
	content: "\e0a5";
}
.icon-lightwhiteexpand:before {
	content: "\e0a6";
}
.icon-lightwhiteedit:before {
	content: "\e0a7";
}
.icon-lightwhiteearaser:before {
	content: "\e0a8";
}
.icon-lightwhitecut:before {
	content: "\e0a9";
}
.icon-lightwhitecollapse:before {
	content: "\e0aa";
}
.icon-lightwhitejoystick:before {
	content: "\e0ab";
}
.icon-lightwhitejoker:before {
	content: "\e0ac";
}
.icon-lightwhitedice:before {
	content: "\e0ad";
}
.icon-lightwhiteclover:before {
	content: "\e0ae";
}
.icon-lightwhitesad:before {
	content: "\e0af";
}
.icon-lightwhitequestion:before {
	content: "\e0b0";
}
.icon-lightwhitelol:before {
	content: "\e0b1";
}
.icon-lightwhitehappy:before {
	content: "\e0b2";
}
.icon-lightwhiteweb_camera:before {
	content: "\e0b3";
}
.icon-lightwhitevideo_cam:before {
	content: "\e0b4";
}
.icon-lightwhiteprinter:before {
	content: "\e0b5";
}
.icon-lightwhitephoto:before {
	content: "\e0b6";
}
.icon-lightwhitephone_up:before {
	content: "\e0b7";
}
.icon-lightwhitephone_down:before {
	content: "\e0b8";
}
.icon-lightwhitemicro:before {
	content: "\e0b9";
}
.icon-lightwhiteiphone:before {
	content: "\e0ba";
}
.icon-lightwhiteipad:before {
	content: "\e0bb";
}
.icon-lightwhiteplus:before {
	content: "\e0bc";
}
.icon-lightwhiteok:before {
	content: "\e0bd";
}
.icon-lightwhitenegative:before {
	content: "\e0be";
}
.icon-lightwhitemore:before {
	content: "\e0bf";
}
.icon-lightwhitecross:before {
	content: "\e0c0";
}
.icon-lightwhiteopen_in_browser:before {
	content: "\e0c1";
}
.icon-lightwhiteexternal_link:before {
	content: "\e0c2";
}
.icon-lightwhitecopy_link:before {
	content: "\e0c3";
}
.icon-lightwhitebug:before {
	content: "\e0c4";
}
.icon-lightwhiteweek_view:before {
	content: "\e0c5";
}
.icon-lightwhitetoday:before {
	content: "\e0c6";
}
.icon-lightwhiteday_view:before {
	content: "\e0c7";
}
.icon-lightwhitedate_to:before {
	content: "\e0c8";
}
.icon-lightwhitedate_from:before {
	content: "\e0c9";
}
.icon-lightwhitewatch:before {
	content: "\e0ca";
}
.icon-lightwhitetimer:before {
	content: "\e0cb";
}
.icon-lightwhitestopwatch:before {
	content: "\e0cc";
}
.icon-lightwhiteclock:before {
	content: "\e0cd";
}
.icon-lightwhitealarm_clock:before {
	content: "\e0ce";
}
.icon-lightwhitepositive_dynamic:before {
	content: "\e0cf";
}
.icon-lightwhitenegative_dynamic:before {
	content: "\e0d0";
}
.icon-lightwhiteline-chart:before {
	content: "\e0d1";
}
.icon-lightwhitecombo_chart:before {
	content: "\e0d2";
}
